* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Hind", sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #777777;
  background-color: transparent;
}

li {
  list-style: none;
}

@media (min-width: 576px) {
  .header-container {
    max-width: 546px;
  }
}

@media (min-width: 791px) {
  .header-container {
    max-width: 770px;
  }
}

@media (min-width: 1025px) {
  .header-container {
    max-width: 990px;
  }
}

@media (min-width: 1230px) {
  .header-container {
    max-width: 1200px;
  }
}

.header {
  position: relative;

  .header-container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;

    .header-holder {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      position: relative;
      align-items: center;
      justify-content: space-between;

      .obj-logo {
        .logo {
          margin-top: 13px;
          margin-bottom: 17px;
          margin-right: 33px;
          display: inline-flex;
        }
      }

      .obj-menu {
        flex: 2 1 auto;

        .menu-box {
          padding-top: 0;
          padding-bottom: 0;
          display: inline-block;

          nav {
            ul {
              display: flex;

              li {
                &:first-child {
                  a {
                    padding-left: 0;
                    color: #2879fe;
                  }
                }

                &:last-child {
                  a {
                    padding-right: 0;
                  }
                }

                a {
                  display: inline-flex;
                  transition: all 0.2s linear;
                  font-size: 14px;
                  padding: 8px 12px;
                  color: black;
                  white-space: nowrap;

                  &:hover {
                    color: #2879fe;
                  }
                }
              }
            }
          }
        }
      }

      .obj-options {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .parent-box {
          &:first-child {
            .box {
              .icon {
                a {
                  i {
                    padding-left: 0;
                  }
                }
              }
            }
          }

          &:last-child {
            .box {
              .icon {
                a {
                  i {
                    padding-right: 0;
                  }
                }
              }
            }
          }

          .box {
            position: relative;

            &:hover {
              .drop {
                opacity: 1;
                visibility: visible;
              }
            }

            .icon {
              a {
                display: inline-flex;
                font-size: 16px;

                i {
                  padding: 8px 12px;
                }
              }
            }

            .drop {
              position: absolute;
              background-color: white;
              border-radius: 4px;
              opacity: 0;
              z-index: 2;
              visibility: hidden;
              bottom: -75%;
              transform: translate(-50%, 50%);

              p {
                white-space: nowrap;
                text-transform: capitalize;
                position: relative;
                padding: 4px 8px;
                font-size: small;

                &::before,
                &::after {
                  position: absolute;
                  content: "";
                  height: 10px;
                  width: 10px;
                  transform: rotate(45deg);
                  background-color: white;
                }

                &::after {
                  width: 14.14213562373095px;
                  height: 7.071067811865475px;
                  transform: none;
                  background-color: white;
                }
              }
            }

            .drop1 {
              left: 33%;

              .drop-search {
                &::before,
                &::after {
                  top: -25%;
                  left: 40%;
                }

                &::after {
                  top: 0;
                  left: 36%;
                }
              }
            }

            .drop2 {
              left: 45%;

              .drop-cart {
                &::before,
                &::after {
                  top: -25%;
                  left: 40%;
                }

                &::after {
                  top: 0;
                  left: 35%;
                }
              }
            }

            .drop3 {
              left: 55%;

              .drop-user {
                &::before,
                &::after {
                  top: -25%;
                  left: 40%;
                }

                &::after {
                  top: 0;
                  left: 38%;
                }
              }
            }

            .drop4 {
              left: 75%;

              .drop-settings {
                &::before,
                &::after {
                  top: -25%;
                  left: 40%;
                }

                &::after {
                  top: 0;
                  left: 36%;
                }
              }
            }
          }
        }
      }
    }
  }
}

.slider {
  height: 670px;
  position: relative;
  overflow-x: hidden;

  .slider-image {
    height: 100%;
    overflow: hidden;

    .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      opacity: 0;
      visibility: hidden;

      .middle-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        white-space: normal;

        .first {
          font-size: 36px;
          text-transform: capitalize;
        }

        .second {
          margin-top: -30px;
          text-transform: capitalize;
          font-size: 70px;
          text-align: center;
        }

        .third {
          margin-top: -25px;
          font-size: 16px;
        }

        .forth {
          margin-top: 10px;

          a {
            text-transform: uppercase;
            font-size: 14px;
            text-align: center;
            outline: none;
            padding: 20px 50px;
            color: white;
            background: rgb(40, 121, 254);
            border-radius: 6px;
            text-decoration: none;

            &:hover {
              background-color: rgb(34, 103, 216);
            }
          }
        }

        .white-text-color {
          color: white;
        }

        .blue-text-color {
          color: #2879fe;
        }

        .grey-text-color {
          color: grey;
        }
      }

      .video-container {
        position: relative;
        padding-top: 56.25%;

        video {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
        }
      }

      .middle-content1 {
        width: 470px;
        height: 332px;
      }

      .middle-content2 {
        width: 454px;
        height: 332px;
      }

      .middle-content3 {
        width: 647px;
        height: 332px;
      }
    }

    .active {
      opacity: 1;
      visibility: visible;
    }

    .x-to-left {
      animation: x-to-left 1s forwards;
    }

    .left-to-x {
      animation: left-to-x 1s forwards;
    }

    .x-to-right {
      animation: x-to-right 1s forwards;
    }

    .right-to-x {
      animation: right-to-x 1s forwards;
    }
  }

  span {
    opacity: 0.4;
    font-size: 30px;
    position: absolute;

    i {
      transition: 0.5s;
    }
  }

  #btn-prev {
    top: 50%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
  }

  #btn-next {
    top: 50%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
  }

  ul {
    position: absolute;
    z-index: 10;
    width: 100px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;

    li {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.2);
      list-style: none;
      cursor: pointer;
      transition: 0.6s;

      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.3);
      }
    }
  }
}

@keyframes x-to-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes left-to-x {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes x-to-right {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes right-to-x {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

.body-content-container {
  margin: 0 20px;

  .demo1 {
    margin-top: 20px;

    .demo1-container {
      display: flex;
      justify-content: space-between;

      .item {
        flex-basis: calc(98.64791779% / 2);
      }

      .left {
        height: 620px;
        display: flex;
        justify-content: space-between;

        .iteml {
          flex-basis: calc(97.25877193% / 2);
        }

        .left-1 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .iteml1 {
            height: 300px;
          }
        }
      }

      .right {
        height: 620px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .itemr {
          height: 300px;
        }

        .right-top {
          display: flex;
          justify-content: space-between;

          .itemrt {
            flex-basis: calc(97.25877193% / 2);
          }
        }
      }
    }
  }

  .demo2 {
    margin: 20px 0;

    .demo2-container {
      display: flex;
      justify-content: space-between;

      .image {
        flex-basis: calc(97.29583559% / 3);
        height: 410px;
        position: relative;
        overflow: hidden;

        a {
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .info {
          .content-infor {
            .content {
              transform: scale(1.1);
            }
          }
        }

        img {
          transition: all 0.6s linear;
        }

        .info {
          cursor: pointer;
          border-radius: 8px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .content-infor {
            display: flex;
            justify-content: center;
            align-items: center;

            .content {
              width: 230px;
              height: 113px;
              background-color: white;
              transition: all 0.4s linear;

              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              .ifn {
                text-align: center;
                text-transform: uppercase;
                font-size: 16px;

                span {
                  color: blue;
                }
              }

              .ifn2 {
                text-align: center;
                text-transform: uppercase;
                font-size: 26px;

                span {
                  color: blue;
                }
              }
            }
          }
        }
      }
    }
  }
}
