$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?e7cda0da834cf36222dacfc4ad8d43df") format("truetype"),
url("./flaticon.woff?e7cda0da834cf36222dacfc4ad8d43df") format("woff"),
url("./flaticon.woff2?e7cda0da834cf36222dacfc4ad8d43df") format("woff2"),
url("./flaticon.eot?e7cda0da834cf36222dacfc4ad8d43df#iefix") format("embedded-opentype"),
url("./flaticon.svg?e7cda0da834cf36222dacfc4ad8d43df#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "cancel": "\f101",
    "eye-variant-with-enlarged-pupil": "\f102",
    "heart": "\f103",
    "left-arrow": "\f104",
    "padlock": "\f105",
    "right-arrow-angle": "\f106",
    "search": "\f107",
    "setting-lines": "\f108",
    "shopping-bag": "\f109",
    "star-half-empty": "\f10a",
    "star": "\f10b",
    "user": "\f10c",
);

.flaticon-cancel:before {
    content: map-get($flaticon-map, "cancel");
}
.flaticon-eye-variant-with-enlarged-pupil:before {
    content: map-get($flaticon-map, "eye-variant-with-enlarged-pupil");
}
.flaticon-heart:before {
    content: map-get($flaticon-map, "heart");
}
.flaticon-left-arrow:before {
    content: map-get($flaticon-map, "left-arrow");
}
.flaticon-padlock:before {
    content: map-get($flaticon-map, "padlock");
}
.flaticon-right-arrow-angle:before {
    content: map-get($flaticon-map, "right-arrow-angle");
}
.flaticon-search:before {
    content: map-get($flaticon-map, "search");
}
.flaticon-setting-lines:before {
    content: map-get($flaticon-map, "setting-lines");
}
.flaticon-shopping-bag:before {
    content: map-get($flaticon-map, "shopping-bag");
}
.flaticon-star-half-empty:before {
    content: map-get($flaticon-map, "star-half-empty");
}
.flaticon-star:before {
    content: map-get($flaticon-map, "star");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
